body {
  background-color: #eee;
}

#navbar {
    background-color: #333; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    transition: top 0.3s; 
}
  
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: rgb(27, 44, 194);
}

h1 {
    padding-top: 40px;
}