body {
  background-image: linear-gradient(rgba(52, 18, 95, 1), rgba(83, 43, 134, 1));
}

.caja {
    background-color: rgb(41, 39, 39);
    border-style: solid;
    border-width: 2px;
    border-color:grey;
    border-radius: 2px;
    border-top: solid 0px;
}

#navbar {
    background-color: #333; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    transition: top 0.3s; 
}
  
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: 0.3s;
    transform: scale(1.02, 1.02);
    background-color: rgb(27, 44, 194);
    border: 0px solid transparent;
    border-left-color: rgb(27, 44, 194);
    content: "";
}



.icon {

}

h1 {
    margin-top: 60px;
}

.title {
    color: white;
    padding: 10px;
    border-bottom: solid 1px grey;
}

p {
    padding-left: 10px;
    color: white;
}